id: 4
source: 1
templatename: Категория
description: ''
properties: 'a:0:{}'

-----

{extends 'template:1'}

{block 'main'}
    {set $options = [
        'parents' => $_modx->resource.id
        'class' => 'msProduct',
        'element' => 'msProducts',
        'limit' => 9,
        'sortby' => '{"sortindex":"ASC", "menuindex":"ASC"}',
        'includeThumbs' => 'category',
        'tpl' => 'stik.msProducts.row',
        'tplOuter' => 'stik.mFilter2.outer',
        'suggestions' => false,
        'ajaxMode' => 'scroll',
        'where' => [
            'category.url:!=' => null,
        ],
        'filters' => '
            msoption|size:size,
            msoption|color:default,
            msoption|material:default,
            ms|price:price,
        ',
        'tplFilter.outer.ms|price' => 'stik.mFilter2.filter.slider',
        'tplFilter.row.ms|price' => 'stik.mFilter2.filter.number',
        'tplFilter.outer.default' => 'stik.mFilter2.filter.outer',
        'tplFilter.row.default' => 'stik.mFilter2.filter.checkbox',
    ]}
    {'!mFilter2' | snippet : $options}
{/block}