.htaccess
ht.access
assets/cache_image/
assets/gallery/
assets/images/
assets/uploads/
assets/resvideogallery/
assets/components/phpthumbon/cache/
assets/components/phpthumbof/cache/
assets/components/minifyx/cache/
assets/components/msync/1c_temp/
assets/components/msync/export/
assets/components/gallery/cache/
/import/
sitecore/config/config.inc.php
sitecore/cache/
sitecore/packages/
sitecore/components/msync/logs/
sitecore/components/stik_loyalty/cron/1c/
sitecore/components/stik/cron/cities.zip
sitecore/components/stik/cron/extracted/
errorlog.txt
_backup/
_data/
gulp
.idea
*composer*
sitecore/vendor