<div class="au-modal au-modal-change-password  modal">
    <div class="au-modal__wrapper">
        <button class="au-close modal-close  au-change-password__close" aria-label="Закрыть"></button>
        <div class="au-modal__content  au-change-password">
            <h3 class="au-h2  au-change-password__title">Изменение пароля</h3>
            <div class="au-change-password__content">
                <form class="au-change-password__form">
                    <div class="custom-form__group">
                        <input class="custom-form__input" type="password" name="new_password" id="new_password" data-val=""> 
                        <label class="custom-form__label" for="new_password">Новый пароль</label>
                        <span class="error_name">error</span>
                    </div>
                    <div class="custom-form__group">
                        <input class="custom-form__input" type="password" name="again_password" id="again_password" data-val=""> 
                        <label class="custom-form__label" for="again_password">Повторно новый пароль</label>
                        <span class="error_name">error</span>
                    </div>
                    <button class="au-btn  au-change-password__btn" type="submit">Сохранить</button>
                </form>
                <div class="au-change-password__successfully">
                    <p class="au-change-password__text">Пароль успешно изменён</p>
                    <button class="au-btn  au-change-password__btn">Продолжить</button>
                </div>
            </div>
        </div>
    </div>
</div>