<div class="au-modal au-modal-cart  modal">
    <div class="au-modal__wrapper  au-cart">
        <button class="au-close au-cart__close" aria-label="Закрыть"></button>
        <div class="au-modal__content  au-cart__content">       <!-- для пустой корзины для au-cart__content добавляем класс empty-cart -->
            <div class="au-cart__cart">
                <h3 class="au-h1  au-cart__title">
                    Корзина
                    <span class="au-cart__count">3</span>
                </h3>
                <ul class="au-cart__cards">
                    <li class="au-cart__card">
                        <div class="au-cart__img-box">
                            <picture>
                                <!-- <source type="image/webp" srcset=""> -->
                                <img class="au-cart__img" src="img/au-cart__img_1.jpg" width="81" height="109" alt="">
                            </picture>
                        </div>
                        <div class="au-cart__description">
                            <div class="au-cart__row">
                                <span class="au-cart__article">Арт.: 7725619</span>
                                <button class="au-cart__del">Удалить</button>
                            </div>
                            <p class="au-cart__card-title">Платье Cecile</p>
                            <div class="au-card__price-box  au-card__cart-price">
                                <span class="au-card__price">7900 ₽</span>
                                <span class="au-card__price  au-card__price_old">8900 ₽</span>
                            </div>
                            <div class="au-cart__row">
                                <div class="au-cart__sub-row">
                                    <div class="au-cart__color" data-color="black" style="background: #1C1C1C;" title="Чёрный"></div>
                                    <span class="au-cart__size">Onesize</span>
                                </div>
                                <form class="au-cart__card-count-form">
                                    <button class="au-cart__minus" type="button" aria-label="Минус"></button>
                                    <span>
                                        <input class="au-cart__card-count" type="number" name="count" value="1" readonly>
                                    </span>
                                    <button class="au-cart__plus" type="button" aria-label="Плюс"></button>
                                </form>
                            </div>
                        </div>
                        <a class="au-full-link" href="" aria-label="Платье Cecile"></a>
                    </li>
                    <li class="au-cart__card">
                        <div class="au-cart__img-box">
                            <picture>
                                <!-- <source type="image/webp" srcset=""> -->
                                <img class="au-cart__img" src="img/au-cart__img_2.jpg" width="81" height="109" alt="">
                            </picture>
                        </div>
                        <div class="au-cart__description">
                            <div class="au-cart__row">
                                <span class="au-cart__article">Арт.: 7725619</span>
                                <button class="au-cart__del">Удалить</button>
                            </div>
                            <p class="au-cart__card-title">Блуза Olivia</p>
                            <div class="au-card__price-box  au-card__cart-price">
                                <span class="au-card__price">7900 ₽</span>
                                <span class="au-card__price  au-card__price_old">8900 ₽</span>
                            </div>
                            <div class="au-cart__row">
                                <div class="au-cart__sub-row">
                                    <div class="au-cart__color" data-color="pink" style="background: #BFB0B1;" title="Розовый"></div>
                                    <span class="au-cart__size">XS</span>
                                </div>
                                <form class="au-cart__card-count-form">
                                    <button class="au-cart__minus" type="button" aria-label="Минус"></button>
                                    <span>
                                        <input class="au-cart__card-count" type="number" name="count" value="1" readonly>
                                    </span>
                                    <button class="au-cart__plus" type="button" aria-label="Плюс"></button>
                                </form>
                            </div>
                        </div>
                        <a class="au-full-link" href="" aria-label="Блуза Olivia"></a>
                    </li>
                </ul>
                <div class="au-cart__modal-bottom">
                    <table class="au-cart__modal-table">
                        <tr class="au-cart__modal-tr">
                            <td class="au-cart__modal-td">Всего</td>
                            <td class="au-cart__modal-td">31 400 ₽</td>
                        </tr>
                        <tr class="au-cart__modal-tr">
                            <td class="au-cart__modal-td">Скидка</td>
                            <td class="au-cart__modal-td">- 2 000 ₽</td>
                        </tr>
                        <tr class="au-cart__modal-tr">
                            <td class="au-cart__modal-td">Итого</td>
                            <td class="au-cart__modal-td">29 400 ₽</td>
                        </tr>
                    </table>
                    <a class="au-btn" href="ordering.html">Оформить заказ</a>
                    <button class="au-close  au-btn-light  au-cart__resume">Продолжить покупки</button>
                </div>
            </div>
            <div class="au-cart__empty">
                <h3 class="au-h1  au-cart__title">Ваша корзина пуста</h3>
                <p class="au-cart__text">Воспользуйтесь каталогом для поиска изделий</p>
                <a class="au-btn" href="category.html">Смотреть каталог</a>
            </div>
        </div>
    </div>
</div>