<div class="au-modal au-modal-bonus-rules  modal">
    <div class="au-modal__wrapper">
        <button class="au-close modal-close  au-bonus-rules__close" aria-label="Закрыть"></button>
        <div class="au-modal__content  au-bonus-rules">
            <h3 class="au-h2  au-bonus-rules__title">Правила начисления и списания бонусов</h3>
            <div class="au-bonus-rules__content">
                <p>% начисления бонусов зависит от накопленной суммы покупок в нашем магазине:</p>
                <ul>
                    <li>
                        Базовый уровень:
                        <span>до 50 тыс. ₽ — 5%;</span>     
                    </li>
                    <li>
                        Бронзовый уровень:     
                        <span>50–70 тыс. ₽ — 6%;</span>
                    </li>
                    <li>
                        Серебряный уровень:     
                        <span>70–100 тыс. ₽ — 7%;</span>
                    </li>
                    <li>
                        Золотой уровень:     
                        <span>выше 100 тыс. ₽ — 10%.</span>
                    </li>
                </ul>
                <p>Бонусы начисляются на счёт в течение 14 дней после покупки.</p>
                <p>Бонусы актуальны 365 дней.</p>
                <p>Правила списания: 1 балл = 1 рубль.</p>
                <p>До 99% покупки вы сможете оплатить бонусами.</p>
            </div>
        </div>
    </div>
</div>