<div class="au-modal au-modal-entrance  modal">
    <div class="au-modal__wrapper  au-entrance">
        <button class="au-close au-entrance__close" aria-label="Закрыть"></button>
        <div class="au-modal__content  au-entrance__content">
            <h3 class="au-h1  au-entrance__title">Узнать о поступлении</h3>
            <form class="au-entrance__form">
                <div class="custom-form__group">
                    <p class="au-entrance__text">Введите адрес электоронной почты, на которую придёт уведомление о поступлении товара </p>
                    <span class="au-entrance__size">Размер XS</span>
                    <input class="custom-form__input  au-subscribe__input" type="email" name="email" placeholder="Введите e-mail" data-val=""> 
                    <span class="error_name">error</span>
                    <button class="au-btn  au-entrance__submit" type="submit">Подписаться</button>
                    <p class="au-subscribe__politics-text">Подписываясь, вы принимаете <a class="au-subscribe__politics-link au-text-tab_js" href="policy" data-text="Политика конфиденциальности">Политику конфиденциальности</a></p>
                </div>
            </form>
        </div>
    </div>
</div>