<div class="au-modal-welcome">
    <div class="au-welcome__wrapper">
        <div class="au-modal-welcome__content">
            <button class="au-close-light  au-modal-welcome__close  au-welcome-close" aria-label="Закрыть"></button>
            <div class="au-welcome__img-box">
                <picture>
                    <!-- <source type="image/webp" srcset=""> -->
                    <img width="400" height="616" class="au-welcome__img" src="/img/modal-welcome-img.jpg" alt="">
                </picture>
            </div>
            <div class="au-welcome__col">
                <form class="au-welcome__form">
                    <h3 class="au-welcome__title  au-welcome__title_one">Получите скидку 10% на первый заказ!</h3>
                    <p class="au-welcome__text">Подпишитесь на новости и будьте в курсе акций и новых поступлений</p>
                    <div class="custom-form__group  au-welcome__input-group">
                        <input class="custom-form__input  au-welcome__input" type="email" name="email" placeholder="Email" data-val=""> 
                        <span class="error_name">error</span>
                    </div>
                    <button class="au-btn  au-welcome__btn" type="submit">Подписаться</button>
                    <p class="au-welcome__politics-text">Подписываясь, вы принимаете <a class="au-welcome__politics-link au-text-tab_js" href="policy" data-text="Политика конфиденциальности">Политику конфиденциальности</a></p>
                </form>
                <div class="au-welcome__col-submit">
                    <h3 class="au-welcome__title">Спасибо за подписку!</h3>
                    <p class="au-welcome__text">На указанную электронную почту придёт письмо для подтверждения</p>
                    <button class="au-btn  au-welcome__btn  au-welcome-close">Продолжить покупки</button>
                </div>
            </div>
        </div>
    </div>
</div>