<script src="js/vendor/jquery-3.6.0.min.js"></script>
<script src="js/vendor/jquery.cookie.js"></script>
<script src="js/vendor/jquery-ui.min.js"></script>
<script src="js/vendor/jquery.ui.touch-punch.min.js"></script>
<script src="js/vendor/scrollreveal.min.js"></script>
<script src="js/vendor/theia-sticky-sidebar.js"></script>
<script src="js/vendor/swiper-bundle.js"></script>
<script src="js/vendor/datepicker.js"></script>
<script src="js/my_scrollreveal.js"></script>
<script src="js/my_swiper.js"></script>
<script src="js/script.js"></script>