<section class="au-subscribe">
    <h2 class="au-h2 au-subscribe__title">
        <span class="au-subscribe__start">Подписка</span>
        <span class="au-subscribe__end">Вы подписаны на новости</span>
    </h2>
    <div class="au-subscribe__subtitle-box">
        <p class="au-subscribe__subtitle au-subscribe__start">Первыми узнавайте о новых коллекциях, уникальных предложениях и секретных акциях</p>
        <p class="au-subscribe__subtitle au-subscribe__end">Спасибо за подписку! На указанную электронную почту отправлено письмо для подтверждения</p>
    </div>
    <form class="au-subscribe__form">
        <div class="custom-form__group  au-subscribe__input-group">
            <input class="custom-form__input  au-subscribe__input" type="email" name="email" placeholder="Введите e-mail" data-val=""> 
            <button class="au-subscribe__submit" type="submit">
                <svg width="19" height="9" viewBox="0 0 19 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.3322 0L18.2526 4.3737L13.3322 8.74741L12.6678 8L16.1849 4.8737H0V3.8737H16.1849L12.6678 0.747409L13.3322 0Z" fill="#1A1714"/>
                </svg>
            </button>
            <span class="error_name">error</span>
            <p class="au-subscribe__politics-text">Подписываясь, вы принимаете <a class="au-subscribe__politics-link au-text-tab_js" href="policy" data-text="Политика конфиденциальности">Политику конфиденциальности</a></p>
        </div>
    </form>
</section>