<div class="au-modal-text-page  container  modal">
    <div class="au-text-page__container">
        <div class="au-text-page__close-box">
            <button class="au-close  modal-close  au-modal-text-page_close" aria-label="Закрыть">
                <span class="au-mobile_xl">Закрыть</span>
            </button>
        </div>

        <div class="au-text-page__nav-box">
            <input class="custom-form__input  au-text-page__tab-input" type="text" id="text_tab_active" readonly>
            <ul class="au-text-page__nav">
                <li class="au-text-page__nav-item">
                    <a class="au-text-page__tab  au-text-tab_js  active" href="loyalty" data-text="Программа лояльности">Программа лояльности</a>
                </li>
                <li class="au-text-page__nav-item">
                    <a class="au-text-page__tab  au-text-tab_js" href="return" data-text="Возврат">Возврат</a>
                </li>
                <li class="au-text-page__nav-item">
                    <a class="au-text-page__tab  au-text-tab_js" href="payment" data-text="Оплата">Оплата</a>
                </li>
                <li class="au-text-page__nav-item">
                    <a class="au-text-page__tab  au-text-tab_js" href="delivery" data-text="Доставка">Доставка</a>
                </li>
                <li class="au-text-page__nav-item">
                    <a class="au-text-page__tab  au-text-tab_js" href="policy" data-text="Политика конфиденциальности">Политика конфиденциальности</a>
                </li>
                <li class="au-text-page__nav-item">
                    <a class="au-text-page__tab  au-text-tab_js" href="public" data-text="Публичная оферта">Публичная оферта</a>
                </li>
            </ul>
        </div>
        
        <div class="au-text-page__content-box">
            <div class="au-text-page__content  au-tab-text-content  active" data-tab="loyalty">
                <h3>Программа лояльности</h3>
                <p>При каждой покупке вам будут начисляться бонусы, которые вы сможете потратить на будущие покупки.</p>
                <h4>Правила начисления и списания бонусов:</h4>
                <p>% начисления бонусов зависит от накопленной суммы покупок в нашем магазине:</p>
                <ul>
                    <li>Базовый уровень: до 50 тыс. ₽ — 5%;</li>
                    <li>Бронзовый уровень: 50–70 тыс. ₽ — 6%;</li>
                    <li>Серебряный уровень: 70–100 тыс. ₽ — 7%;</li>
                    <li>Золотой уровень: выше 100 тыс. ₽ — 10%.</li>
                </ul>
                <p>Бонусы будут начислены на счёт в течение 14 дней после покупки.</p>
                <p>Бонусы актуальны 365 дней.</p>
                <p>Правила списания: 1 балл = 1 рубль.</p>
                <p>До 99% покупки вы сможете оплатить бонусами.</p>
            </div>
            <div class="au-text-page__content  au-tab-text-content" data-tab="return">
                <h3>Возврат</h3>
            </div>
            <div class="au-text-page__content  au-tab-text-content" data-tab="payment">
                <h3>Оплата</h3>
            </div>
            <div class="au-text-page__content  au-tab-text-content" data-tab="delivery">
                <h3>Доставка</h3>
            </div>
            <div class="au-text-page__content  au-tab-text-content" data-tab="policy">
                <h3>Политика конфиденциальности</h3>
            </div>
            <div class="au-text-page__content  au-tab-text-content" data-tab="public">
                <h3>Публичная оферта</h3>
                <p>Термины.</p>
                <p>Клиент – полностью дееспособное физическое лицо, или юридическое лицо делающие Заказы на сайте ДОМЕН, либо указанные в качестве получателя Продукции, либо использующие Продукцию, приобретенную на сайте ДОМЕН, исключительно для личных, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской деятельности.</p>
                <p>Продавец – РЕКВИЗИТЫ</p>
                <p>Сайт – Интернет-сайт, принадлежащий Продавцу, имеющий адрес в сети Интернет ДОМЕН. На нем представлена Продукция, предлагаемая Продавцом своим Клиентам для оформления Заказов, а также условия оплаты и доставки этих Заказов Клиентам.</p>
                <p>Продукция – товары, представленные к продаже на Сайте.</p>
                <p>Заказ – должным образом оформленный запрос Клиента на доставку по указанному адресу перечня Продукции, выбранных на Сайте.</p>
                <p>Служба доставки – сотрудники Продавца, либо третьи лица, оказывающие по договору с Продавцом услуги по доставке Заказов Клиентам.</p>
                <p>1. Общие положения.</p>
                <p>1.1. Сайт принадлежит и администрируется РЕКВИЗИТЫ</p>
                <p>1.2. Заказывая Продукцию через Сайт, Клиент соглашается с Правилами продажи продукции (далее - Условия), изложенными ниже.</p>
                <p>1.3. К отношениям между Клиентом и Продавцом применяются положения Федерального Закона РФ "О защите прав потребителей" от 07.02.1992 № 2300-1 и иные правовые акты, принятые в соответствии с ними.</p>
                <p>1.4. Продавец оставляет за собой право вносить изменения в настоящие Условия, в связи с чем, Клиент обязуется регулярно отслеживать изменения в Условиях, размещенных на сайте .</p>
                <p>1.5. Клиент соглашается с Условиями при оформлении Заказа на Сайте.</p>
                <p>2. Момент заключения договора.</p>
                <p>2.1. Настоящие Условия продажи товаров, а также информация о Товаре, представленная на Сайте, являются публичной офертой в соответствии со ст. 435 и частью 2 ст. 437 Гражданского кодекса Российской Федерации.</p>
                <p>2.2. Факт оформления заказа Клиентом является безоговорочным фактом принятия Клиентом условий данного Договора. Клиент, приобретший товар в Интернет-магазине Продавца (оформивший Заказ Товара), рассматривается как лицо, вступившее с Продавцом в отношения на условиях настоящего Договора.</p>
                <p>2.3. В случае несогласия с настоящим Пользовательским соглашением (далее — Соглашение / Публичная оферта) Клиент обязан немедленно прекратить использование сервиса и покинуть сайт.</p>
                <p>3. Заказ на сайте.</p>
                <p>3.1. Для оформления Заказа Клиенту необходимо заполнить форму на Сайте.</p>
                <p>3.2. Продавец не несет ответственности за точность и правильность информации, предоставляемой Клиентом при оформлении заказа.</p>
                <p>3.3. Клиент обязуется не сообщать третьим лицам, указанные при регистрации данные. В случае возникновения у Клиента подозрений относительно безопасности или возможности несанкционированного использования третьими лицами данных Клиента, Клиент обязуется незамедлительно уведомить об этом Продавца, направив электронное письмо на нашу почту ПОЧТА. </p>
                <p>4. Оформление и сроки выполнения заказа.</p>
                <p>4.1. Заказ Клиента может быть оформлен самостоятельно на Сайте.</p>
                <p>4.2. При оформлении Заказа Клиент должен указать следующую информацию:
                    - Ф.И.О. клиента, либо получателя Заказа;
                    - перечень заказанной продукции;
                    - адрес доставки Заказа;
                    - контактный телефон.
                </p>
                <p>4.3. После оформления заказа Клиенту приходит уведомление о принятом заказе и предоставляется информация о статусе исполнения Заказа.</p>
                <p>4.4. Все информационные материалы, представленные на Сайте, носят справочный характер и не могут в полной мере передавать достоверную информацию о свойствах и характеристиках Продукции, включая цвета, размеры, формы, запах и иные.</p>
                <p>5. Доставка.</p>
                <p>5.1. Способы доставки Продукции указаны на Сайте.</p>
                <p>5.2. Территория доставки определена зоной торговой деятельности. Проверить входит ли предполагаемый адрес доставки в зону обслуживания можно на Сайте.</p>
                <p>5.3. Продавец приложит все усилия для соблюдения сроков доставки, указанных в карточке заказа, тем не менее, задержки в доставке возможны ввиду непредвиденных обстоятельств, произошедших не по вине Продавца.</p>
                <p>5.4. Риск случайной гибели или случайного повреждения Продукции переходит к Клиенту с момента передачи ему Заказа и оплаты получателем Заказа.</p>
                <p>5.5. При доставке Заказ вручается Клиенту либо лицу, указанному в качестве получателя Заказа. При невозможности получения Заказа, оформленного за наличный расчет, указанными выше лицами, Заказ вручается лицу, готовому предоставить сведения о заказе (ФИО Получателя), а также оплатить стоимость Заказа в полном объеме лицу, осуществляющему доставку Заказа.</p>
                <p>5.6. При передаче Заказа Клиент должен проверить внешний вид и упаковку Заказа, количество Продукции в Заказе, комплектность, ассортимент.</p>
                <p>6. Оплата продукции.</p>
                <p>6.1. Цена Продукции указывается на Сайте. В случае неверного указания цены, заказанной Клиентом Продукции, Продавец при первой возможности информирует об этом Клиента для подтверждения Заказа по исправленной цене либо аннулирования Заказа. При невозможности связаться с Клиентом данный Заказ считается аннулированным.</p>
                <p>6.2. Цена Продукции может быть изменена Продавцом в одностороннем порядке. Цена Продукции указывается на последнем этапе оформления Заказа и действительна на момент оформления заказа. При этом цена на заказанную Клиентом Продукцию изменению не подлежит.</p>
                <p>6.3. Способы оплаты Клиент выбирает на этапе оформления заказа на Сайте. Согласованным способом оплаты считается способ, выбранный Клиентом из доступных способов оплаты при оформлении Заказа.</p>
                <p>6.4. Особенности оплаты с помощью банковских карт.</p>
                <p>6.4.1. В соответствии с положением ЦБ РФ "Об эмиссии банковских карт и об операциях, совершаемых с использованием платежных карт" от 24.12.2004 №266-П операции по банковским картам совершаются держателем карты либо уполномоченным им лицом.</p>
                <p>6.4.2. При совершении оплаты Продукции с помощью банковской карты при выдаче заказов Клиент должен предъявить документ, удостоверяющий личность, за исключением случая оплаты неименной банковской картой.
                    При аннулировании заказа: в случае аннулирования заказа после подтверждения, необходимо позвонить Продавцу.
                </p>
                <p>7. Возврат продукции.</p>
                <p>7.1. Возврат Продукции надлежащего качества.</p>
                <p>7.1.1. Клиент не вправе отказаться от Продукции надлежащего качества.</p>
                <p>7.2. Возврат Продукции ненадлежащего качества.</p>
                <p>7.2.1. Клиент может возвратить Продукцию ненадлежащего качества Продавцу, и потребовать замены Продукции ненадлежащего качества либо устранения недостатков.</p>
                <p>7.3. Возврат денежных средств.</p>
                <p>7.3.1. Денежные средства подлежат возврату тем способом, который был использован Клиентом при оплате.</p>
                <p>7.3.2. В случае если возврат денежных средств осуществляется неодновременно с возвратом Продукции Клиентом, возврат указанной суммы осуществляется Продавцом с согласия Клиента одним из следующих способов:
                    а) наличными денежными средствами по месту нахождения Продавца;
                    б) путем перечисления соответствующей суммы на банковский или иной счет Клиента, указанный Клиентом.
                </p>
                <p>7.4. Порядок действий при нарушении продавцом условия об ассортименте (пересорте).</p>
                <p>7.4.1. В случае обнаружения в Заказе Продукции, не соответствующего заказанному ассортименту (пересорт), Клиент вправе при передаче заказа отказаться от данной Продукции и потребовать замены в ассортименте, предусмотренном Заказом, либо возврата денежных средств за фактически непереданную Продукцию.</p>
                <p>7.4.2. Продукция, переданная Клиенту в нарушение условия об ассортименте, подлежит возврату Продавцу. В случае если Клиент принимает данную Продукцию, Продавец вправе потребовать от Клиента оплаты данной Продукции по цене, установленной Продавцом для данной Продукции на Сайте на момент передачи Продукции. Если фактически переданная Продукция отсутствует в ассортименте Продавца, представленном на Сайте на момент передачи Продукции, данная Продукция оплачивается по цене, согласованной с Продавцом.</p>
                <p>7.4.3. В случае невозможности осуществить замену Продукции, Продавец уведомляет об этом Клиента по номеру телефона, указанному Клиентом при оформлении Заказа.</p>
                <p>7.4.4. Денежные средства, оплаченные Клиентом за фактически непереданную Продукцию подлежат возврату в течение 10 дней с момента получения письменного заявления Клиента о возврате денежных средств. Возврат уплаченной за Продукцию суммы осуществляется тем способом, которым была произведена оплата.</p>
                <p>7.5. Порядок действий при нарушении Продавцом условия о количестве.</p>
                <p>7.5.1. При передаче Заказа Клиент обязан проверить количество Продукции в Заказе. Если при передаче Заказа Клиентом обнаружены расхождения по количеству Продукции в Заказе, Клиент обязан в присутствии представителя Продавца или перевозчика составить Акт о расхождении по количеству.</p>
                <p>7.5.2. Если Продавец передал Клиенту меньшее количество Продукции, чем определено Заказом (недовложение), Клиент при передаче Заказа вправе принять Продукцию в части, соответствующей Заказу, и потребовать передать недостающее количество Продукции, либо, если недостающая Продукция была оплачена, отказаться от Заказа в части недостающей Продукции и потребовать возврата денежных средств за недостающую Продукцию.</p>
                <p>7.5.3. Денежные средства, оплаченные Клиентом за недостающую Продукцию, подлежат возврату в течение 10 дней с момента получения письменного заявления Клиента о возврате денежных средств, а также Акта о расхождении (Акта о недовложении) по количеству, составленного в порядке п.7.5.1. Возврат уплаченной за Продукцию суммы осуществляется тем способом, которым была произведена оплата.</p>
                <p>7.5.4. В случае нарушения Клиентом п.7.5.1 в части составления Акта, Продавец вправе отказать Клиенту в удовлетворении претензий по количеству переданной Продукции.</p>
                <p>7.6. Подробная информация о порядке предъявления претензий по качеству и возврату Продукции представлена здесь.</p>
                <p>8. Интеллектуальная собственность.</p>
                <p>8.1. Вся текстовая информация и графические изображения, находящиеся на Сайте являются собственностью Продавца.</p>
                <p>9. Гарантии и ответственность.</p>
                <p>9.1. Продавец не несет ответственности за ущерб, причиненный Клиенту вследствие ненадлежащего использования Продукции, заказанной на Сайте.</p>
                <p>9.2. Продавец не несет ответственности за содержание и функционирование сайта.</p>
                <p>9.3. Продавец вправе переуступать либо каким-либо иным способом передавать свои права и обязанности, вытекающие из его отношений с Клиентом, третьим лицам.</p>
                <p>9.4. Клиент обязуется не использовать заказанную Продукцию в предпринимательских целях.</p>
                <p>10. Конфиденциальность и защита персональных данных.</p>
                <p>10.1. Предоставление информации Клиентом:</p>
                <p>10.1.1. При заказе на Сайте, Клиент предоставляет следующую информацию: Фамилия, Имя, Отчество, адрес доставки и телефон.</p>
                <p>10.2. Предоставляя свои персональные данные на сайте, Клиент соглашается на их обработку Продавцом, в том числе и в целях продвижения Продавцом Продукции и услуг.</p>
                <p>10.2.1. Если Клиент не желает, чтобы его персональные данные обрабатывались, то он должен сообщить об этом Продавцу. В таком случае вся полученная от Клиента информация удаляется из клиентской базы Продавца и Клиент не сможет размещать Заказы на Сайте.</p>
                <p>10.3. Использование информации предоставленной Клиентом и получаемой Продавцом:
                    - для выполнения своих обязательств перед Клиентом;
                    - для оценки и анализа работы Сайта;
                    - для определения победителя в акциях, проводимых Продавцом.
                </p>
                <p>10.3.1. Продавец вправе направлять Клиенту сообщения рекламно-информационного характера. Если Клиент не желает получать рассылки от Продавца, он должен сообщить об этом Продавцу.</p>
                <p>10.4. Разглашение информации, полученной Продавцом.</p>
                <p>10.4.1. Продавец обязуется не разглашать полученную от Клиента информацию. Не считается нарушением предоставление Продавцом информации агентам и третьим лицам, действующим на основании договора с Продавцом, для исполнения обязательств перед Клиентом.</p>
                <p>10.4.2. Не считается нарушением обязательств разглашение информации в соответствии с обоснованными и применимыми требованиями закона.</p>
                <p>10.5. Продавец вправе использовать технологию "cookies". "Cookies" не содержат конфиденциальную информацию и не передаются третьим лицам.</p>
                <p>10.6. Продавец получает информацию об ip-адресе посетителя Сайта. Данная информация не используется для установления личности посетителя.</p>
                <p>11. Дополнительные права для Европейской экономической зоны и некоторых других территорий.</p>
                <p>11.1. На основании Регламента ЕС 2016/679 «О защите физических лиц в отношении обработки персональных данных» (сокращенно ОПЗД, Общие правила защиты данных) от 27 апреля 2016 г. или GDPR, действующего с 25.05.2018 года. Если вы — лицо из Европейской экономической зоны (ЕЭЗ), вы можете пользоваться дополнительными правами, доступными вам в рамках применимого законодательства.</p>
                <p>11.1.1. Ключевые требования — мы обязуемся уведомлять регулирующие органы (а в некоторых случаях и самого Клиента) о любых нарушениях, связанных с персональными данными в течение 72 часов после обнаружения такого нарушения.</p>
                <p>11.2. Права Клиента (физического лица):</p>
                <p>11.2.1. Европейские пользователи имеют право запрашивать подтверждение факта обработки их данных, место и цель обработки, категории обрабатываемых персональных данных, каким третьим лицам персональные данные раскрываются, период, в течение которого данные будут обрабатываться, а также уточнять источник получения организацией персональных данных. Для получения данной информации напишите на ПОЧТА.</p>
                <p>11.2.2. Мы хотим хранить точную и актуальную версию ваших персональных данных. Вы имеете право попросить нас изменить или удалить данные, которые считаете некорректными, написав нам на ПОЧТА. Мы рассмотрим вашу заявку в соответствии с применимым законодательством.</p>
                <p>11.2.3. Несогласие на обработку персональных данных. Вы имеете право опротестовать обработку своих персональных данных, если считаете, что это применимо в вашей конкретной ситуации. Мы будем вправе отказать вам в выполнении запроса, только если сможем предоставить убедительные, законные основания на обработку данных, которые превалируют над вашими интересами, правами и свободами, либо если обработка связана с подачей, реализацией или защитой судебного иска. Чтобы реализовать это право, напишите нам на ПОЧТА. Мы рассмотрим ваш запрос в соответствии с применимым законодательством.</p>
                <p>11.2.4. Право на переносимость данных. Данное право заключается в том, что мы обязаны предоставлять бесплатно электронную копию персональных данных другой компании по требованию самого Клиента при условии, что:</p>
                <p>обработка осуществляется на основании согласия или договора;
                    обработка осуществляется средствами автоматизации.
                    Чтобы реализовать это право, напишите нам на ПОЧТА. Мы рассмотрим ваш запрос в соответствии с применимым законодательством.
                </p>
                <p>11.2.5. Право на забвение. В GDPR также предусмотрено право на забвение, которое дает европейцам возможность удалять свои личные данные по запросу во избежание их распространения или передачи третьим лицам. Если вы захотите, чтобы мы полностью удалили все ваши данные, свяжитесь с нами по адресу  ПОЧТА. Вы также имеете право пожаловаться в орган по защите данных на сбор и использование нами ваших персональных данных. За подробностями обращайтесь в местные органы по защите данных.</p>
                <p>11.3. Персональные данные детей. Мы преднамеренно не собираем информацию детей младше 16 лет. Если вам меньше 16 лет, не передавайте свои персональные данные посредством Сервиса. Мы просим родителей и законных представителей отслеживать пользование детей интернетом, давая детям указание не передавать свои персональные данные посредством Сервиса без их разрешения. Если у вас есть основания полагать, что ребенок младше 16 лет предоставил нам свои персональные данные посредством Сервиса, свяжитесь с нами по адресу ПОЧТА, и мы удалим эти данные.</p>
                <p>12. Прочие условия.</p>
                <p>12.1. К отношениям между Клиентом и Продавцом применяется право Российской Федерации.</p>
                <p>12.2. В случае возникновения вопросов и претензий со стороны Клиента он должен обратиться непосредственно к Продавцу. Все возникающее споры стороны будут стараться решить путем переговоров, при недостижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством РФ.</p>
                <p>12.3. Признание судом недействительности какого-либо положения настоящих Условий и правил не влечет за собой недействительность остальных положений.</p>
            </div>
        </div>
    </div>
</div>